[submodule "themes/hugo-ivy"]
	path = themes/hugo-ivy
	url = git@github.com:ooapex/hugo-ivy.git
[submodule "themes/yinyang"]
	path = themes/yinyang
	url = https://github.com/joway/hugo-theme-yinyang.git
