<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>
  <article class="posts">
    <div class="row">
      <div class="col-xs-12">
        {{ partial "header.html" . }}

        <h1 class="taxonomy-term">{{ .Data.Term }}</h1>
        <div id="posts-list">
          {{ $paginator := .Paginate (where .Data.Pages "Type" "in" site.Params.mainSections) }}
          {{ range $paginator.Pages.GroupByDate "2006" -}}
          <section>
            <h1 class="site-date-catalog">{{ .Key }}</h1>

            {{ range .Pages }}
            <div class="row posts-line">
              <div class="posts-date col-xs-2">
                <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02"}}</time>
              </div>
              <div class="posts-title col-xs-10">
                <div class="row">
                  <div class="col-xs-12">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                  </div>
                </div>
              </div>
            </div>
            {{ end }}
          </section>
          {{ end }}

          <!-- 分页导航 -->
          {{ if gt $paginator.TotalPages 1 }}
          <nav aria-label="Page navigation">
            <ul class="pagination">
              {{ if $paginator.HasPrev }}
              <li>
                <a href="{{ $paginator.Prev.URL }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {{ end }}
              {{ range $index, $element := $paginator.Pagers }}
              <li class="{{ if eq $paginator.PageNumber (add $index 1) }}active{{ end }}">
                <a href="{{ $element.URL }}">{{ add $index 1 }}</a>
              </li>
              {{ end }}
              {{ if $paginator.HasNext }}
              <li>
                <a href="{{ $paginator.Next.URL }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              {{ end }}
            </ul>
          </nav>
          {{ end }}
          <!-- 分页导航结束 -->

        </div>

        {{ partial "footer.html" . }}
      </div>
    </div>
  </article>

  {{ partial "scripts.html" . }}
</body>

</html>